d
l
t
__builds
__prebuilts
__platforms
projects/*_android/local.properties
projects/*_android/bin/*
projects/*_android/gen/*
projects/*_android/jni/*
projects/*_android/obj/*
projects/*_android/libs/*
projects/*_android/assets/*
project.xcworkspace
*.xcuserdatad
*.swp
*.swo
*~
